{% extends 'base_inner.html' %}
{% load thumbnail site_filters %}

{% block head_title %}{{ object.title }} - {{ block.super }}{% endblock %}
{% block share_image %}{% thumbnail object.image "538" crop="center" as im %}{{ im.url }}{% endthumbnail %}{% endblock %}

{% block inner_content %}
    {% include 'site/block_share.html' %}
    {% if object.image %}
        <div class="img_cont">
            {% thumbnail object.image "538" crop="center" as im %}
                <img src="{{ im.url }}" title="{{ object }}" />
            {% endthumbnail %}
        </div>
        <img src="{{ STATIC_URL }}/img/line_photo.png" alt="line" style="margin-bottom:21px;"/>
    {% endif %}
    <p class="date">{{ object.create_date|date:"d" }}.{{ object.create_date|date:"n"|get_roman_month }}.{{ object.create_date|date:"Y" }}</p>
    <h1>{{ object.title }}.</h1>
    {{ object.text|safe }}

    {% if object.gallery.count %}{% include 'site/block_gallery.html' with gallery=object.gallery %}{% endif %}

{% endblock %}