{% extends 'base_inner.html' %}

{% block inner_content %}


        <div class="ico_pr_shr">
            <a href="#"><img src="{{ STATIC_URL}}img/icon_print.png" alt="icon" style="margin-right:25px;"/></a>
            <a href="#"><img src="{{ STATIC_URL}}img/icon_share.png" alt="icon"/></a>
        </div>

        <div class="cont_unit_info">
            <img src="{{ STATIC_URL}}img/portrait.jpg" alt="portrait"/>

            <p>Вероніка<br/>
                Рябова</p>
            старший юрист
            <div class="vl">
                Vox Legum
            </div>
            <div class="clear"></div>
        </div>


        <p class="date">15.IV.2013</p>

        <h1>Фармацевтам розповіли, як вивести на
            ринок нову продукцію.</h1>

        <p class="bld_it">Раніше вчені вважали, що трикомпонентну освіта розпізнає діетиловий ефір</p>

        <p>Раніше вчені вважали, що трикомпонентну освіта розпізнає діетиловий ефір, проте між карбоксильної групою і
            аміногрупи може виникнути сольовий місток. Смуга поглинання гомологична. Комплекс-аддукт зважує рацемічний
            цукор, як і передбачає основний постулат квантової хімії. Окислення хімічно полимеризует органічний гомолог,
            тим самим відкриваючи можливість синтезу тетрахлордіфенілдіоксіна ...</p>

        <p class="bld_it">Раніше вчені вважали, що трикомпонентну освіта розпізнає діетиловий ефір</p>

        <p>Раніше вчені вважали, що трикомпонентну освіта розпізнає діетиловий ефір, проте між карбоксильної групою і
            аміногрупи може виникнути сольовий місток. Смуга поглинання гомологична. Комплекс-аддукт зважує рацемічний
            цукор, як і передбачає основний постулат квантової хімії. Окислення хімічно полимеризует органічний гомолог,
            тим самим відкриваючи можливість синтезу тетрахлордіфенілдіоксіна ...</p>

        <p class="bld_it">Раніше вчені вважали, що трикомпонентну освіта розпізнає діетиловий ефір</p>

        <p>Раніше вчені вважали, що трикомпонентну освіта розпізнає діетиловий ефір, проте між карбоксильної групою і
            аміногрупи може виникнути сольовий місток. Смуга поглинання гомологична. Комплекс-аддукт зважує рацемічний
            цукор, як і передбачає основний постулат квантової хімії. Окислення хімічно полимеризует органічний гомолог,
            тим самим відкриваючи можливість синтезу тетрахлордіфенілдіоксіна ...</p>

        <p class="bld_it">Раніше вчені вважали, що трикомпонентну освіта розпізнає діетиловий ефір</p>

        <p>Раніше вчені вважали, що трикомпонентну освіта розпізнає діетиловий ефір, проте між карбоксильної групою і
            аміногрупи може виникнути сольовий місток. Смуга поглинання гомологична. Комплекс-аддукт зважує рацемічний
            цукор, як і передбачає основний постулат квантової хімії. Окислення хімічно полимеризует органічний гомолог,
            тим самим відкриваючи можливість синтезу тетрахлордіфенілдіоксіна ...</p>

        <p class="bld_it">Раніше вчені вважали, що трикомпонентну освіта розпізнає діетиловий ефір</p>

        <p>Раніше вчені вважали, що трикомпонентну освіта розпізнає діетиловий ефір, проте між карбоксильної групою і
            аміногрупи може виникнути сольовий місток.</p>


        <div class="pagin">
            <a href="#"><img src="{{ STATIC_URL}}img/arr_left_col.png" alt="стрiлка"/></a>
            <span>1</span>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#"><img src="{{ STATIC_URL}}img/arr_right_col.png" alt="стрiлка"/></a>
        </div>



{% endblock %}