{% extends 'base.html' %}

{% load site_tags news_tags team_tags thumbnail %}

{% block adition_content %}{% endblock %}

{% block body_class %}inner{% endblock %}

{% block content %}
    <div class="subslider"></div>

    <div class="sidebar left block">
        <div class="block_sidebar info">
            <div class="line">
                <h3>Новини</h3>
            </div>
            {% block_news %}
        </div>
        <div class="block_sidebar info">
            <div class="line">
                <h3>Публікації</h3>
            </div>
            <ul class="block block-publication">
                {% block_publication %}
            </ul>
        </div>
    </div>


    <div class="content block">{% block inner_content %}{% endblock %}</div>


    <div class="sidebar right block">
        <div class="block_sidebar info events">
            <div class="line">
                <h3>Анонси подій</h3>
            </div>
            {% block_events %}
        </div>
        <div class="interview block_sidebar info">
            <div class="line">
                <h3>Інтерв’ю</h3>
            </div>
            {% block_interview %}
        </div>
    </div>

    <div class="clear"></div>
{% endblock %}