{% extends 'base.html' %}
{% load site_tags news_tags team_tags thumbnail i18n %}

{% block adition_content %}{% endblock %}

{% block body_class %}inner{% endblock %}

{% block top_slider %}
<div style="height: 20px;"></div>
{% endblock %}

{% block content %}
    <div class="sidebar left block">
        <div class="block_sidebar info">
            <div class="line">
                <h3>{% trans 'Новини' %}</h3>
            </div>
            {% block_news %}
            <a href="{% url 'news_list' %}" class="more">{% trans 'більше новин' %}</a>

        </div>
        <div class="block_sidebar info">
            <div class="line">
                <h3>{% trans 'Публікації' %}</h3>
            </div>
            <ul class="block block-publication">
                {% block_publication %}
                <a href="{% url 'team_articles_list' %}" class="more">{% trans 'більше публікацій' %}</a>
            </ul>
        </div>
    </div>


    <div class="content block">{% block inner_content %}{% endblock %}</div>


    <div class="sidebar right block">
        <div class="block_sidebar info events">
            <div class="line">
                <h3>{% trans 'Анонси подій' %}</h3>
            </div>
            {% block_events %}
            <a href="{% url 'news_events_list' %}" class="more">{% trans 'більше подій' %}</a>
        </div>
        <div class="interview block_sidebar info">
            <div class="line">
                <h3>{% trans 'Спеціалісти' %}</h3>
            </div>
            {% block_publication_random %}
        </div>
    </div>

    <div class="clear"></div>
{% endblock %}