{% load site_tags news_tags team_tags thumbnail i18n %}{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block head_title %}{% trans 'Vox Legum Law Firm' %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="image_src" href="{% block share_image %}{{ STATIC_URL }}img/logo.jpg{% endblock %}" />

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fonts.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/easy_slider.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jPages.css">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/carousel_style.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print"/>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/easySlider1.7.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.contentcarousel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/share.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jPages.min.js"></script>
</head>
<body class="{% block body_class %}main_page{% endblock %}">
<div class="top"></div>
<div class="menu_wrapper">
    {% top_menu_display %}
</div>
<div class="wrapper">
    <div class="header">
        <a href="{% language LANGUAGE_CODE %}{% url 'main' %}{% endlanguage %}"><img src="{{ STATIC_URL }}img/logo.jpg" alt="logo"/></a>
        <div class="search">
            <a href="http://www.linkedin.com/company/vox-legum-law-firm" target="_blank"><img src="{{ STATIC_URL }}img/icon_in.png" alt="in"/></a>
            <a href="https://www.facebook.com/VoxLegum" target="_blank"><img src="{{ STATIC_URL }}img/icon_f.png" alt="f"/></a>

            <form action="{% url 'haystack_search' %}">
                <input type="text" name="q"/>
                <input type="image" src="{{ STATIC_URL }}img/icon_search.png"/>
            </form>
            <div id="lang_switch">
                <ul>
                    {% if LANGUAGE_CODE != 'en' %}<li class="lang_en"><a href="{% get_i18n_page_url request 'en' %}"></a></li>{% endif %}
                    {% if LANGUAGE_CODE != 'ru' %}<li class="lang_ru"><a href="{% get_i18n_page_url request 'ru' %}"></a></li>{% endif %}
                    {% if LANGUAGE_CODE != 'uk' %}<li class="lang_uk"><a href="{% get_i18n_page_url request 'uk' %}"></a></li>{% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% block top_slider %}
        {% top_slider_display %}
    {% endblock %}

    {% block content %}



    <div class="subslider" id="about-subslider">
        {% blocktrans %}
        Юридична фірма Vox Legum спеціалізується на наданні своїм клієнтам<br>
        <span>не просто якісної юридичної допомоги, а комплексних рішень з урахуванням</span><br>
        індивідуальних цілей та задач, що ставляться клієнтами.
        {% endblocktrans %}
    </div>
    <div class="line" style="height:41px;"></div>

    <div class="info">
        <h3>{% trans 'Кілька слів про нас' %}</h3>
        <p>{% get_page slug='about-us' as about_us %}{{ about_us.short_text }}
        <a href="{{ about_us.get_absolute_url }}"></a></p>
    </div>
    <div class="info">
        <h3>{% trans 'Напрямки діяльності' %}</h3>
        <p>{% get_page slug='activities' as activities %}{{ activities.short_text }}
        <a href="{{ activities.get_absolute_url }}"></a></p>
    </div>
    <div class="info">
        <h3>{% trans 'Досвід фірми' %}</h3>
        <p>{% get_page slug='experience' as experience %}{{ experience.short_text }}
        <a href="{{ experience.get_absolute_url }}"></a></p>
    </div>
    <div class="otzivi_slider">
        {% client_quote %}
    </div>
    <div class="clear"></div>

    {% endblock content %}
</div>

{% block adition_content %}

<div class="sliding_block clients_block">
    <div class="klienti">
        <span class="kli_tit">{% trans 'Клієнти Vox Legum' %}<button type="button" class="close">&times;</button></span>
        {% for cl in clients %}
            {% thumbnail cl.image "145x140" crop="center" as im %}
                <div><img src="{{ im.url }}" alt="{{ sl }}"/></div>
            {% endthumbnail %}
        {% endfor %}
    </div>
    <div class="clear clear_line"></div>
</div>

<div class="wrapper">
    <div class="line" style="margin: 10px 0 55px 0;">
        <div class="title">{% trans 'Наша команда' %}</div>
    </div>
    <div id="ca-container" class="ca-container">
        <div class="ca-wrapper">
            {% for me in members %}
            <div class="ca-item ca-item-{{ forloop.counter }}" member_id="{{ me.pk }}">
                <div class="team_unit" ajax_url="{{ me.get_ajax_link }}">
                    {% thumbnail me.photo "120x120" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ me }}" class="portrait"/>
                    {% endthumbnail %}
                    <p>{{ me.name }}</p>
                    {{ me.position }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
</div>

<div id="member_info" class="sliding_block"></div>
<div class="clear"></div>

<div class="prefoot_wrapper">
    <div class="info pref">
        <div class="line">
            <h3>{% trans 'Анонси подій' %}</h3>
        </div>
        <div class="block">
            {% block_events %}
        </div>
    </div>

    <div class="info pref">
        <div class="line">
            <h3>{% trans 'Новини' %}</h3>
        </div>
        <div class="block">
            {% block_news %}
        </div>

    </div>

    <div class="info pref block">
        <div class="line">
            <h3>{% trans 'Публікації' %}</h3>
        </div>
        <ul class="block block-publication">
            {% block_publication %}
        </ul>
    </div>

    <div class="info interview">
        <div class="line">
            <h3>{% trans 'Спеціалісти' %}</h3>
        </div>
        {% block_publication_random %}
    </div>
    <div class="clear"></div>
</div>

{% endblock %}

<div style="margin:0 auto 44px;width:1136px;"><img src="{{ STATIC_URL }}img/line_prefoot.png" alt="полоса"/></div>
<div class="footer">
    <img src="{{ STATIC_URL }}img/line_foot.png" alt="полоса"/>
    <br/>
    <img src="{{ STATIC_URL }}img/logo.png" id="bottom_logo" alt="logo" style="margin-top:41px;"/>


    <div class="contact">
        <div class="cont_un" style="margin-left:40px;"><img src="{{ STATIC_URL }}img/icon_adr.png"/>
            <div style="width:230px;">{% blocktrans %}13 Tryokhsvyatytelska St., office 2<br/>Kyiv, 01001, Ukraine{% endblocktrans %}</div>
        </div>
        <div class="cont_un" style="margin-left:41px;"><img src="{{ STATIC_URL }}img/icon_mail.png"/>
            <div style="width:220px;"><a href="mailto:office@voxlegum.com">office@voxlegum.com</a></div>
        </div>
        <div class="cont_un"><img src="{{ STATIC_URL }}img/icon_tel.png"/>
            <div style="width:220px;">+380 44 279 19 79<br>+380 44 279 79 76</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="copyright">
        {% trans '© 2013, Vox Legum Law Firm. All rights reserved.' %}
    </div>
    <div class="clear"></div>
</div>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16531427-23']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>