{% load site_tags news_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/easy_slider.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/carousel_style.css"/>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/easySlider1.7.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.contentcarousel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>


</head>
<body>
<div class="top"></div>
<div class="menu_wrapper">
    {% top_menu_display %}
</div>
<div class="wrapper">
    <div class="header">
        <a href="index.html"><img src="{{ STATIC_URL }}img/logo.jpg" alt="logo"/></a>
        <div class="search">
            <a href="#"><img src="{{ STATIC_URL }}img/icon_in.png" alt="in"/></a>
            <a href="#"><img src="{{ STATIC_URL }}img/icon_f.png" alt="f"/></a>

            <form action="#">
                <input type="text" name="search"/>
                <input type="image" src="{{ STATIC_URL }}img/icon_search.png"/>
            </form>
            <a href="#"><img src="{{ STATIC_URL }}img/icon_ukr.png" alt="ukr"/></a>
        </div>
    </div>
    {% top_slider_display %}
    <div class="subslider">
        Буквально, два речення про філософію юридичної фірми, що полягає<br/>
        у значенні слова <span>партнерство, бізнес, корпоративні цінності.</span> Тут ми поки<br/>
        що не пишемо про те, що це молода енергійна кампанія...
    </div>
    <div class="line" style="height:41px;"></div>

    <div class="info">
        <p>Кілька слів про нас</p>
        {% get_page slug='about-us' as about_us %}{{ about_us.short_text }}
        <a href="#"></a>
    </div>
    <div class="info">
        <p>Напрямки діяльності</p>
        {% get_page slug='activities' as activities %}{{ activities.short_text }}
        <a href="#"></a>
    </div>
    <div class="info">
        <p>Досвід кампанії</p>
        {% get_page slug='experience' as experience %}{{ experience.short_text }}
        <a href="#"></a>
    </div>
    <div class="otzivi_slider">
        <p>Клієнти Vox Legum</p>
        <a href="second-1.html"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка" style=" position:relative;left:118px;top:187px;"/></a>

        <div class="snoska">

            <div id="slider2">
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        <div class="sign">
                            Олександр Іванов<br/>
                            президет каманії ‘Develop’
                        </div>
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        <div class="sign">
                            Олександр Іванов<br/>
                            президет каманії ‘Develop’
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="sbkl" class="sliding_block" style="margin-bottom:30px;">
    <div class="klienti">

        <div class="kli_tit">
            Клієнти Vox Legum
        </div>

        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>

        <div class="kli_box">

        </div>


        <div class="kli_box">

        </div>

        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>

        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>

        <div class="kli_box">

        </div>

        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>

        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>

        <div class="kli_box">

        </div>

        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>

        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>

        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>
        <div class="kli_box">

        </div>
        <div class="clear"></div>
    </div>
    <div style="margin:0px auto 44px;width:1136px;"><img src="{{ STATIC_URL }}img/line_prefoot.png" alt="полоса"/></div>
</div>

<div class="wrapper">


    <div class="line" style="margin-bottom:55px;">
        <div class="title">Наша команда</div>
    </div>


    <div id="ca-container" class="ca-container">
        <div class="ca-wrapper">
            <div class="ca-item ca-item-1">
                <div class="team_unit" id="tu1">
                    <a href="#" id="iu1" class="pw_info"><img src="{{ STATIC_URL }}img/portrait.jpg" alt="портрет" class="portrait"/>

                        <p>Cdivmt Bergmann</p>
                        партнер</a>
                </div>
            </div>
            <div class="ca-item ca-item-2">
                <div class="team_unit" id="tu2">
                    <img src="{{ STATIC_URL }}img/portrait.jpg" alt="портрет" class="portrait"/>

                    <p>Cdivmt
                        Bergmann</p>
                    партнер
                </div>
            </div>
            <div class="ca-item ca-item-3">
                <div class="team_unit" id="tu3">
                    <img src="{{ STATIC_URL }}img/portrait.jpg" alt="портрет" class="portrait"/>

                    <p>Cdivmt
                        Bergmann</p>
                    партнер
                </div>
            </div>
            <div class="ca-item ca-item-4">
                <div class="team_unit" id="tu4">
                    <img src="{{ STATIC_URL }}img/portrait.jpg" alt="портрет" class="portrait"/>

                    <p>Cdivmt
                        Bergmann</p>
                    партнер
                </div>
            </div>
            <div class="ca-item ca-item-5">
                <div class="team_unit" id="tu5">
                    <img src="{{ STATIC_URL }}img/portrait.jpg" alt="портрет" class="portrait"/>

                    <p>Cdivmt
                        Bergmann</p>
                    партнер
                </div>
            </div>
            <div class="ca-item ca-item-6">
                <div class="team_unit" id="tu6">
                    <img src="{{ STATIC_URL }}img/portrait.jpg" alt="портрет" class="portrait"/>

                    <p>Cdivmt
                        Bergmann</p>
                    партнер
                </div>
            </div>
            <div class="ca-item ca-item-7">
                <div class="team_unit" id="tu6">
                    <img src="{{ STATIC_URL }}img/portrait.jpg" alt="портрет" class="portrait"/>

                    <p>Cdivmt
                        Bergmann</p>
                    партнер
                </div>
            </div>
            <div class="ca-item ca-item-8">
                <div class="team_unit" id="tu6">
                    <img src="{{ STATIC_URL }}img/portrait.jpg" alt="портрет" class="portrait"/>

                    <p>Cdivmt
                        Bergmann</p>
                    партнер
                </div>
            </div>

        </div>
    </div>


    <div class="clear"></div>
</div>


<div id="info" class="sliding_block">
    <div class="unit_info">
        <div class="ui_left">
            <img class="face" src="{{ STATIC_URL }}img/portrait.jpg" alt="портрет" class="portrait"/>

            <p class="name">Вероніка<br/>
                Рябова</p>

            <p class="seat">старший юрист</p>

            <p class="tel">
                <img src="{{ STATIC_URL }}img/icon_tel_gray.png" alt="icon"/>
                +380 44 279 19 79<br/>
                +380 44 279 19 79
            </p>

            <p class="mail"><img src="{{ STATIC_URL }}img/icon_mail_gray.png" alt="icon"/><a href="mailto:office@voxlegum.com">office@voxlegum.com</a>
            </p>
        </div>

        <div class="ui_mid">
            <h3>Освіта</h3>
            диплом бакалавра (2007 рік), диплом спеціаліста (2008 рік) Національної юридичної академії України ім.
            Ярослава Мудрого (Інститут підготовки кадрів для органів прокуратури).
            <h3>Спеціалізація</h3>
            <ul>
                <li>Супровід цивільних, адміністративних, господарських та кримінальних справ перебувають у провадженні
                    у підприємства (складання процесуальних документів, представлення інтересів в суді і т.д.);
                </li>
                <li>
                    Візування вихідної кореспонденції підприємства (документи на приватизацію, видача свідоцтв про право
                    власності, проекти рішень для виконкому та місцевої ради, договору оренди, спільної діяльності
                    тощо);
                </li>

                <li>Самостійна підготовка (або спільна) проектів рішень для виконкому та місцевої ради;</li>

                <li>Представництво інтересів підприємства в різних підприємствах, слідчих органів, виконавчої служби і
                    т.д.;
                </li>
            </ul>
        </div>


        <div class="wrap_sl_un_inf">
            <div style="padding:13px 15px 15px 5px;background:#ffffff;"><img src="{{ STATIC_URL }}img/portrait.jpg" alt="портрет"
                                                                             class="portrait"
                                                                             style="float:left;margin-right:15px;"/>

                <p style="margin:45px 0px 6px 0px;">Climt
                    Bergmann</p>
                партнер
                <div class="clear"></div>
            </div>

            <div id="slider4">
                <ul>
                    <li class="blockk">
                        <div class="int_tit">
                            Фармацевтична<br/>
                            юридична практика.
                        </div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur...<a href="second-2.html"><img
                            src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка" style="position:relative;left:16px;top:2px;"
                            id="but_kl"/></a>
                    </li>
                    <li class="blockk">
                        <div class="int_tit">
                            Фармацевтична<br/>
                            юридична практика.
                        </div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam...<a href="second-1.html"><img
                            src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка" style="position:relative;left:16px;top:2px;"
                            id="but_kl"/></a>
                    </li>
                </ul>
            </div>


        </div>
        <img src="{{ STATIC_URL }}img/snoska.png" alt="snoska"/>


        <div class="clear"></div>
    </div>
    <div style="margin:0px auto 44px;width:1136px;"><img src="{{ STATIC_URL }}img/line_prefoot.png" alt="полоса"/></div>
</div>


<div class="clear"></div>


<div class="prefoot_wrapper">

    <div class="info pref">
        <div class="line">
            <p style="width:125px;position:relative;top:-9px;background:#ebeae5;">Анонси подій</p>
        </div>
        <div class="block">
            <div>
                <div class="l_info"><img src="{{ STATIC_URL }}img/icon_03.png" alt="03"/><br/>X.2011</div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna.
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a>

                <div class="clear"></div>
            </div>
            <div>
                <div class="l_info"><img src="{{ STATIC_URL }}img/icon_03.png" alt="03"/><br/>X.2011</div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna.
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a>

                <div class="clear"></div>
            </div>
            <div>
                <div class="l_info"><img src="{{ STATIC_URL }}img/icon_03.png" alt="03"/><br/>X.2011</div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna.
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a>

                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="info pref">
        <div class="line">
            <p style="width:78px;position:relative;top:-9px;background:#ebeae5;">Новини</p>
        </div>
        <div class="block">
            <div style="height:72px;">
                <p class="date">15.IV.2013</p>
                Фармацевтам розповіли, як вивести на ринок нову продукцію...
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a>
            </div>

            <div style="height:72px;">
                <p class="date">15.IV.2013</p>
                Фармацевтам розповіли, як вивести на ринок нову продукцію...
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a>
            </div>

            <div style="height:72px;">
                <p class="date">15.IV.2013</p>
                Фармацевтам розповіли, як вивести на ринок нову продукцію...
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a>
            </div>

            <div style="height:72px;">
                <p class="date">15.IV.2013</p>
                Фармацевтам розповіли, як вивести на ринок нову продукцію...
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a>
            </div>

            <div style="height:72px;">
                <p class="date">15.IV.2013</p>
                Фармацевтам розповіли, як вивести на ринок нову продукцію...
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a>
            </div>
            <div style="height:72px;">
                <p class="date">15.IV.2013</p>
                Фармацевтам розповіли, як вивести на ринок нову продукцію...
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a>
            </div>
            <div style="height:72px;">
                <p class="date">15.IV.2013</p>
                Фармацевтам розповіли, як вивести на ринок нову продукцію...
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a>
            </div>
            <div style="height:72px;">
                <p class="date">15.IV.2013</p>
                Фармацевтам розповіли, як вивести на ринок нову продукцію...
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a>
            </div>

        </div>

    </div>

    <div class="info pref block">
        <div class="line">
            <p style="width:78px;position:relative;top:-9px;background:#ebeae5;">Стат’ї</p>
        </div>
        <div class="block">

            <div style="float:left;margin-right:10px;margin-top:3px;"><img src="{{ STATIC_URL }}img/icon_circ.png" alt="кружок"/>
            </div>
            <div style="float:left;width:265px;margin-bottom:21px;">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a></div>

            <div style="float:left;margin-right:10px;margin-top:3px;"><img src="{{ STATIC_URL }}img/icon_circ.png" alt="кружок"/>
            </div>
            <div style="float:left;width:265px;margin-bottom:21px;">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a></div>

            <div style="float:left;margin-right:10px;margin-top:3px;"><img src="{{ STATIC_URL }}img/icon_circ.png" alt="кружок"/>
            </div>
            <div style="float:left;width:265px;margin-bottom:21px;">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a></div>

            <div style="float:left;margin-right:10px;margin-top:3px;"><img src="{{ STATIC_URL }}img/icon_circ.png" alt="кружок"/>
            </div>
            <div style="float:left;width:265px;margin-bottom:21px;">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a></div>

            <div style="float:left;margin-right:10px;margin-top:3px;"><img src="{{ STATIC_URL }}img/icon_circ.png" alt="кружок"/>
            </div>
            <div style="float:left;width:265px;margin-bottom:21px;">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                <a href="#"><img src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                 style="position:relative;left:16px;top:2px;"/></a></div>

        </div>
    </div>

    <div class="interview">
        <div class="line">
            <p style="width:98px;position:relative;top:-9px;background:#ebeae5;">Інтерв’ю</p>
        </div>

        <div style="background:#ffffff;">
            <div id="slider3" class="block">
                <ul>
                    <li>
                        <div style="padding:15px 15px 15px 25px;"><img src="{{ STATIC_URL }}img/portrait.jpg" alt="портрет"
                                                                       class="portrait"
                                                                       style="float:left;margin-right:15px;"/>

                            <p style="margin:45px 0px 6px 0px;">Climt
                                Bergmann</p>
                            партнер
                            <div class="clear"></div>
                            <div class="int_tit">
                                Фармацевтична<br/>
                                юридична практика.
                            </div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur...
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur...<a href="second-1.html"><img
                                    src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                    style="position:relative;left:16px;top:2px;" id="but_kl"/></a>


                        </div>
                    </li>


                    <li>
                        <div style="padding:15px 15px 15px 25px;"><img src="{{ STATIC_URL }}img/portrait.jpg" alt="портрет"
                                                                       class="portrait"
                                                                       style="float:left;margin-right:15px;"/>

                            <p style="margin:45px 0px 6px 0px;">Climt
                                Bergmann</p>
                            партнер
                            <div class="clear"></div>
                            <div class="int_tit">
                                Фармацевтична<br/>
                                юридична практика.
                            </div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur...<a href="second-1.html"><img
                                    src="{{ STATIC_URL }}img/arr_right_col.png" alt="стрiлка"
                                    style="position:relative;left:16px;top:2px;" id="but_kl"/></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <img src="{{ STATIC_URL }}img/snoska.png" alt="snoska"/>
    </div>
    <div class="clear"></div>
</div>
<div style="margin:0px auto 44px;width:1136px;"><img src="{{ STATIC_URL }}img/line_prefoot.png" alt="полоса"/></div>


<div class="footer">
    <img src="{{ STATIC_URL }}img/line_foot.png" alt="полоса"/>
    <br/>
    <img src="{{ STATIC_URL }}img/logo.png" alt="logo" style="margin-top:41px;"/>


    <div class="contact">
        <div class="cont_un" style="margin-left:51px;"><img src="{{ STATIC_URL }}img/icon_adr.png" alt="Адрес"/>

            <div style="width:220px;">13 Tryokhsvyatytelska St., office 2<br/>
                Kyiv, 01001 Ukraine
            </div>
        </div>

        <div class="cont_un" style="margin-left:51px;"><img src="{{ STATIC_URL }}img/icon_mail.png" alt="Почта"/>

            <div style="width:220px;"><a href="#">1office@voxlegum.com</a></div>
        </div>

        <div class="cont_un"><img src="{{ STATIC_URL }}img/icon_tel.png" alt="Телефон"/>

            <div style="width:220px;">+380 44 279 19 79<br/>+380 44 279 19 79</div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="copyright">
        © 2013, Vox Legum Law Firm. All rights reserved.
    </div>

    <div class="clear"></div>
</div>


</body>
</html>