{% load site_tags news_tags team_tags thumbnail %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block head_title %}Legum Law Firm{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/easy_slider.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/second_style.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/carousel_style.css"/>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/easySlider1.7.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.contentcarousel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>


</head>
<body class="{% block body_class %}main_page{% endblock %}">
<div class="top"></div>
<div class="menu_wrapper">
    {% top_menu_display %}
</div>
<div class="wrapper">
    <div class="header">
        <a href="/"><img src="{{ STATIC_URL }}img/logo.jpg" alt="logo"/></a>
        <div class="search">
            <a href="#"><img src="{{ STATIC_URL }}img/icon_in.png" alt="in"/></a>
            <a href="#"><img src="{{ STATIC_URL }}img/icon_f.png" alt="f"/></a>

            <form action="#">
                <input type="text" name="search"/>
                <input type="image" src="{{ STATIC_URL }}img/icon_search.png"/>
            </form>
            <a href="#"><img src="{{ STATIC_URL }}img/icon_ukr.png" alt="ukr"/></a>
        </div>
    </div>
    {% top_slider_display %}

    {% block content %}

    <div class="subslider">
    Vox Legum є <span>молодою динамічною незалежною українською юридичною фірмою</span>, що<br/>
    спеціалізується на наданні своїм клієнтам не просто якісної юридичної допомоги, а <br/>
    комплексних рішень з урахуванням індивідуальних цілей та задач, що ставляться
    клієнтами.
    </div>
    <div class="line" style="height:41px;"></div>

    <div class="info">
        <h3>Кілька слів про нас</h3>
        <p>{% get_page slug='about-us' as about_us %}{{ about_us.short_text }}
        <a href="{{ about_us.get_absolute_url }}"></a></p>
    </div>
    <div class="info">
        <h3>Напрямки діяльності</h3>
        <p>{% get_page slug='activities' as activities %}{{ activities.short_text }}
        <a href="{{ activities.get_absolute_url }}"></a></p>
    </div>
    <div class="info">
        <h3>Досвід кампанії</h3>
        <p>{% get_page slug='experience' as experience %}{{ experience.short_text }}
        <a href="{{ experience.get_absolute_url }}"></a></p>
    </div>
    <div class="otzivi_slider">
        {% client_quote %}
    </div>
    <div class="clear"></div>

    {% endblock content %}
</div>

{% block adition_content %}

<div class="sliding_block clients_block">
    <div class="klienti">
        <span class="kli_tit">Клієнти Vox Legum<button type="button" class="close">&times;</button></span>
        {% for cl in clients %}
            {% thumbnail cl.image "145x140" crop="center" as im %}
                <div><img src="{{ im.url }}" alt="{{ sl }}"/></div>
            {% endthumbnail %}
        {% endfor %}
    </div>
    <div class="clear clear_line"></div>
</div>

<div class="wrapper">
    <div class="line" style="margin-bottom:55px;">
        <div class="title">Наша команда</div>
    </div>
    <div id="ca-container" class="ca-container">
        <div class="ca-wrapper">
            {% for me in members %}
            <div class="ca-item ca-item-{{ forloop.counter }}" member_id="{{ me.pk }}">
                <div class="team_unit" ajax_url="{{ me.get_ajax_link }}">
                    {% thumbnail me.photo "120x120" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ me }}" class="portrait"/>
                    {% endthumbnail %}
                    <p>{{ me.name }}</p>
                    {{ me.position }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
</div>

<div id="member_info" class="sliding_block"></div>
<div class="clear"></div>

<div class="prefoot_wrapper">
    <div class="info pref">
        <div class="line">
            <p>Анонси подій</p>
        </div>
        <div class="block">
            {% block_events %}
        </div>
    </div>

    <div class="info pref">
        <div class="line">
            <p>Новини</p>
        </div>
        <div class="block">
            {% block_news %}
        </div>

    </div>

    <div class="info pref block">
        <div class="line">
            <p>Публікації</p>
        </div>
        <ul class="block block-publication">
            {% block_publication %}
        </ul>
    </div>

    <div class="interview">
        <div class="line">
            <p>Інтерв’ю</p>
        </div>
        {% block_interview %}
    </div>
    <div class="clear"></div>
</div>

{% endblock %}

<div style="margin:0px auto 44px;width:1136px;"><img src="{{ STATIC_URL }}img/line_prefoot.png" alt="полоса"/></div>


<div class="footer">
    <img src="{{ STATIC_URL }}img/line_foot.png" alt="полоса"/>
    <br/>
    <img src="{{ STATIC_URL }}img/logo.png" alt="logo" style="margin-top:41px;"/>


    <div class="contact">
        <div class="cont_un" style="margin-left:51px;"><img src="{{ STATIC_URL }}img/icon_adr.png" alt="Адрес"/>

            <div style="width:220px;">13 Tryokhsvyatytelska St., office 2<br/>
                Kyiv, 01001 Ukraine
            </div>
        </div>

        <div class="cont_un" style="margin-left:51px;"><img src="{{ STATIC_URL }}img/icon_mail.png" alt="Почта"/>

            <div style="width:220px;"><a href="#">1office@voxlegum.com</a></div>
        </div>

        <div class="cont_un"><img src="{{ STATIC_URL }}img/icon_tel.png" alt="Телефон"/>

            <div style="width:220px;">+380 44 279 19 79<br/>+380 44 279 19 79</div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="copyright">
        © 2013, Vox Legum Law Firm. All rights reserved.
    </div>

    <div class="clear"></div>
</div>


</body>
</html>