/*
http://habrahabr.ru/post/160997/



*/

a[href^=http]:after {
    content:" <" attr(href) ">";
}

* { -webkit-print-color-adjust: exact; }


#slider,
.sidebar,
#slider_contr,
.subslider,
.ico_pr_shr,
.search,
.top,
.menu_wrapper
{
    display: none;
}

.wrapper {
    margin: 30px 10px;
    width: 100%;
}
.inner .content {
    width: 95%;
    margin: 30px 0;
}