.clear {
    clear: both;
}

.line {
    border-top: 1px dashed #a6a6a6;
}

.line p,
.line h3{
    position: relative;
    top: -9px;
    background: #ebeae5;
    display: inline-block;
}

.sidebar.left .line h3 {
    background: #fff;
}

.inner .line {
    position: relative;
    margin-bottom: 20px;
}

.inner .line h3 {
    position: absolute;
}

.clear_line {
    margin: 0 0 44px 0;
    width: 1152px;
    height: 38px;
    background: url(../img/line_prefoot.png);
}

.portrait {
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
}

.arrow {
    display: inline-block;
    width: 9px;
    height: 13px;
    background: url(../img/arr_right_col.png) no-repeat;
    position: relative;
    left: 0;
    top: 3px;
}

.more {
    color: #962e79;
    text-decoration: underline;
    background: none;
}

.arrow.link {
    display: inline-block;
    width: auto;
    padding-right: 15px;
    text-decoration: none;
    background-position: right center;
}

.link {
    text-decoration: none;
}
.link:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 13px;
    background: url(../img/arr_right_col.png) no-repeat right center;
    position: relative;
    left: 0;
    top: 3px;
}

/*style*/

.top {
    background: url(../img/bg_top.jpg);
    height: 39px;
}

.menu_wrapper {
    background: #962e79;
}

.menu {
    width: 1135px;
    margin: 0 auto;
    border-right: 1px dashed #b4609d;
    position: relative;
}

.menu #go_home {
    position: relative;
    width: 29px;
    height: 29px;
    display: block;
    float: right;
    right: -30px;
}

.menu ul {
    float: right;
    background: url(../img/menu_home.png) no-repeat 0 8px;
    padding-left: 25px;
}

.menu li {
    float: left;
    padding: 6px 12px;
    border-left: 1px dashed #b4609d;
    position: relative;
}

.menu a {
    font-family: 'TrebuchetMSN';
    font-size: 16px;
    color: #d9d9d9;
    text-decoration: none;
}

.menu li:hover {
    background: #b93093;
}

.menu ul li div a {
    display: block;
    color: #5b5b5b;
    padding: 6px 11px;
    border-bottom: 1px dashed #a7a5a5;
}

.menu ul li div a:hover {
    background: #f8f7f0;
}

.menu ul li div {
    position: absolute;
    top: 28px;
    left: -1px;
    display: none;
    background: #ebeae5;
    z-index: 1;
    min-width: 200px;
}

.menu ul li:hover div {
    display: block;
    -moz-box-shadow: 0 5 10px rgba(0, 0, 0, 0.5); /* Для Firefox */
    -webkit-box-shadow: 0 5 10px rgba(0, 0, 0, 0.5); /* Для Safari и Chrome */
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
}

.wrapper {
    width: 1135px;
    margin: 0px auto;
}

.search {
    float: right;
    margin-top: 95px;
}

.search form,
.search input,
.search a {
    float: left;
    margin-left: 3px;
}

.search input[type=image] {
    margin: 0px;
}

.search input[name=search] {
    background: #ebeae5;
    height: 15px;
    margin-left: 18px;
}

.subslider {
    height: 113px;
    background: url(../img/bg_subslider.png) no-repeat;
    font-family: Georgia;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    padding-top: 56px;
    position: relative;
    top: -2px;
}

.subslider span {
    color: #b93093;
}

.inner .subslider {
    background: url(../img/line_prefoot.png) no-repeat top center;
    height: 39px;
    padding-top: 10px;
}

.info {
    width: 250px;
    float: left;
    font-family: 'TrebuchetMSN';
    font-size: 13px;
    margin-bottom: 21px;
    padding-right: 33px;
    line-height: 21px;
}

/*
.info a {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/arr_right_col.png) no-repeat center;
    position: relative;
    left: 0;
    top: 3px;
}
*/

.pref {
    width: 275px;
    font-style: italic;
    padding-right: 5px;
    line-height: 15px;
    margin-right: 10px;
}

.interview p,
.info h3 {
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 21px;
}

.info {
    color: #575757;
}

.interview {
    width: 285px;
    float: left;
    font-family: 'TrebuchetMSN';
    margin-bottom: 41px;
    font-style: italic;
    padding-right: 5px;
    line-height: 15px;
    position: relative;
    font-size: 12px;
}

.inner .interview {
    width: 262px;
}


.int_tit {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin: 10px 0px;
}


.otzivi_slider {
    width: 250px;
    float: left;
    font-family: 'TrebuchetMSN';
    font-size: 12px;
    font-style: italic;
    color: #575757;
    padding-right: 33px;
    line-height: 15px;
    position: relative;
}

.otzivi_slider .arrow {
    position: relative;
    left: 118px;
    top: 187px;
    z-index: 10;
}

.otzivi_slider .sign {
    margin-top: 45px;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 0;
}

.otzivi_slider p {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 11px;
}

.otzivi_slider .snoska {
    width: 222px;
    padding: 15px 25px;
    background: url(../img/bg_snoska.png) no-repeat;
    position: relative;
    bottom: 5px;
    right: 0;
}

.title {
    width: 141px;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    position: relative;
    top: -11px;
    background: #f5f5f5;
    color: #575757;
}

.team_unit {
    width: 120px;
    float: left;
    text-align: center;
    font-family: 'TrebuchetMSN';
    font-size: 12px;
    font-style: italic;
    margin-right: 55px;
    cursor: pointer;
}

.team_unit p {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0px;
}

.prefoot_wrapper {
    width: 1160px;
    margin: 35px auto 0;
    padding: 21px 16px;
    background: #ebeae5;
}

.l_info {
    height: 109px;
    float: left;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}

.l_info img {
    margin: 0px 10px 4px 8px;
}

p.date {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    color: #a43c8e;
    margin-bottom: 9px;
}

.footer {
    height: 371px;
    background: #2e2e2e;
    text-align: center;
    color: #c2c2c2;
}



.contact {
    width: 888px;
    margin: 60px auto;
    font-family: 'TrebuchetMSN';
    font-size: 13px;
    color: #c2c2c2;
    line-height: 17px;
}

.contact a {
    color: #c2c2c2;
}

.cont_un {
    width: 260px;
    float: left;
    text-align: left;
}

.cont_un img {
    margin-right: 18px;
    float: left;
}

.cont_un div {
    float: left;
}

.copyright {
    font-family: 'TrebuchetMSN';
    font-size: 13px;
    color: #c2c2c2;
    margin-top: 100px;
}

/*sliding blocks*/

.sliding_block {
    margin: 30px auto;
    width: 1159px;
}

.show {
    position: static;
}

.hide {
    position: absolute;
    z-index: -1;
}

.unit_info {
    background: #ebeae5;
}

.disp_bl {
    display: block;
}

.disp_n {
    display: none;
}

.ui_left {
    position: relative;
    width: 290px;
    float: left;
    background: #ffffff;
    text-align: center;
    padding: 45px 0;
    color: #575757;
}

.ui_left .close {
    position: absolute;
    top: 10px;
    right: 10px;
}


img.face {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

p.name {
    font-family: Georgia;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    margin: 20px 0 7px 0;

}

p.seat {
    font-family: 'TrebuchetMSN';
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin: 0px;
}

p.tel {
    display: inline-block;
    background: url(../img/icon_tel_gray.png) no-repeat left center;
    font-family: 'TrebuchetMSN';
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    margin: 18px 0 35px 0;
    padding-left: 20px;
}


.ui_left a {
    color: #575757;
}

.mail {
    display: inline-block;
    background: url(../img/icon_mail_gray.png) no-repeat left center;
    padding-left: 20px;
}


.ui_mid {
    float: left;
    line-height: 16px;
    font-family: 'TrebuchetMSN';
    font-size: 14px;
    width: 515px;
    margin-right: 30px;
    padding: 30px 20px 20px 20px;
    border-right: 2px dotted #ccc;
    color: #575757;
    height: 380px;
    overflow: hidden;
}

.ui_mid h3 {
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin: 30px 0 10px 0;
}

.ui_mid li {
    list-style-image: url(../img/icon_circ_r.png);
    margin: 0 0 10px 20px;
}

.ui_mid #ui_about > li {
    list-style: none;
    margin: 0;
}

.ui_mid h1,
.ui_mid h2,
.ui_mid h3 {
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 21px;
}

.wrap_sl_un_inf {
    width: 260px;
    margin-top: 30px;
    background: #ffffff;
    float: left;
    font-family: 'TrebuchetMSN';
    font-size: 12px;
    font-style: italic;
    line-height: 15px;
    padding-bottom: 20px;
    position: relative;
    padding-left: 15px;
}

.wrap_sl_un_inf .snoska {
    background: url(../img/snoska.png) no-repeat;
    width: 275px;
    height: 23px;
    position: relative;
    bottom: -43px;
    left: -10px;
}

.wrap_sl_un_inf p {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
}

.klienti {
    width: 1152px;
}

.clients_block {
    display: none;
}

.kli_tit {
    display: block;
    height: 50px;
    line-height: 50px;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #575757;
    padding-left: 18px;
    background: #ffffff;
    border-bottom: 1px dashed #acacac;
}

.kli_tit .close {
    float: right;
    margin: 10px 10px 0 0 ;
    font-size: 20px;
}

.klienti div {
    width: 144px;
    height: 140px;
    float: left;
    background: #ffffff;
}

.klienti div:nth-child(odd),
.klienti div.odd {
    background: #ebeae5;
}

.klienti div.odd:nth-child(odd) {
    background: #ffffff;
}

#member_info {
    display: none;
    background: url(../img/line_prefoot.png) no-repeat bottom center;
    margin:0 auto 44px;
    width:1160px;
    padding-bottom: 38px
}

.event_block {
    height: 65px;
    margin-bottom: 30px;
}

.event_block .event_title {
    display: block;
    padding-left: 60px;
    padding-right: 15px;
    min-height: 51px;
}

.event_block .event_title a {
    display: block;
    text-decoration: none;
}


.event_date {
    position: relative;
    background: url(../img/icon_date.png) no-repeat top center;
    width: 45px;
    height: 15px;
    padding-top: 50px;
    margin-right: 15px;
    font-style: normal;

}

.inner .event_date {
    height: 1px;
}

.event_date span {
    position: absolute;
    top: 16px;
    left: 9px;
    color: #fff;
    font-size: 25px;
    font-style: normal;
}

.block-publication {
    list-style: url(../img/icon_circ.png) inside;
}

.block-publication li {
    margin-bottom: 15px;
}

.interview .block_interview,
.inner .block_sidebar .block_interview{
    background: #fff;
    margin-bottom: 0;
}

.interview .block_interview .slide {
    padding:15px 15px 15px 25px;
    min-height: 320px;
}

.interview .block_interview .slide .portrait {
    float: left;
    margin-right: 15px;
}

.block_news_item {
    margin-bottom: 20px;
}


.inner .sidebar {
    width: 259px;
    float: left;
    background: #ffffff;
    padding: 25px 8px 13px 12px;
}

.inner .right {
    background: #ebeae5;
    width: 269px;
}



.inner .block_sidebar {
    font-family: 'TrebuchetMSN';
    font-size: 13px;
    font-style: italic;
    margin-bottom: 45px;
    padding-right: 11px;
    line-height: 15px;
}

.inner .block_sidebar p {
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 8px;
}

.inner .block_sidebar p.date {
    font: bold normal 14px/12px Arial;

}

.inner .block_sidebar.events div {
    margin-bottom: 15px;
}

.inner .content {
    width: 541px;
    float: left;
    border-right: 1px dashed #a6a6a6;
    border-left: 1px dashed #a6a6a6;
    background: #ffffff;
    padding: 12px 12px 25px 12px;
    color: #575757;
}

.inner .content p,
.inner .content div {
    margin-top: 20px;
    line-height: 17px;
    font-family: 'TrebuchetMSN';
    font-size: 14px;
}

.inner .bld_it {
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.inner .ico_pr_shr {
    position: relative;
    left: 406px;
    height: 21px;
    margin-bottom: 20px;
}

.ico_pr_shr a {
    display: block;
    width: 50px;
    height: 21px;
    background: url(../img/icon_print.png) no-repeat center;
    float: left;
    margin: 0 0 0 15px;
}
.ico_pr_shr a.button_share {
    background-image: url(../img/icon_share.png);
    margin-right: 40px;

}

.inner .img_cont {
    background: #f7f5f5;
    margin-top: 15px;
}

.inner .content h1 {
    font-family: Georgia;
    font-size: 25px;
    font-style: italic;
    line-height: 30px;
    margin: 15px 0;
}

.inner .content ul {
    margin: 18px 0 0 25px;
    line-height: 13px;
}

.inner .content li {
    list-style-image: url(../img/icon_circ_r.png);
    margin-bottom: 10px;
    line-height: 17px;
}

.inner .cont_unit_info {
    font-family: 'TrebuchetMSN';
    font-size: 14px;
    color: #6d6d6d;
    font-style: italic;
    margin: 12px 25px 36px 25px;
}

.inner .cont_unit_info p {
    font-family: Georgia;
    font-size: 25px;
    font-weight: bold;
    color: #575757;
    line-height: 25px;
    padding-top: 47px;
}

.inner .cont_unit_info img {
    float: left;
    margin-right: 29px;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
}

.inner .vl {
    font-weight: bold;
    color: #a43c8e;
}

.inner .pagin {
    width: 230px;
    margin: 55px auto 0;
    text-align: center;
}

.inner .pagin span,
.inner .pagin a {
    font-family: 'TrebuchetMSN';
    font-size: 14px;
    color: #575757;
    text-decoration: none;
    margin: 8px;
}

.inner .pagin span {
    font-weight: bold;
    color: #a43c8e;
}

.inner .l_info {
    float: left;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;

}

.inner .l_info img {
    margin: 0px 10px 4px 8px;
}

p.date {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    color: #a43c8e;
    margin-bottom: 9px;
}

.inner .interview {
    position: relative;
    font-size: 12px;
}

.inner .int_tit {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin: 10px 0px;
}



.inner .contact {
    width: 888px;
    margin: 60px auto;
    font-family: 'TrebuchetMSN';
    font-size: 13px;
    color: #c2c2c2;
}

.inner .contact a {
    color: #c2c2c2;
}

.inner .cont_un {
    width: 260px;
    float: left;
    text-align: left;
}

.inner .cont_un img {
    margin-right: 18px;
    float: left;
}

.inner .cont_un div {
    float: left;
}


.inner ul.content_list {
    margin-left: 0;
}
.inner .content_list li {
    display: block;
    list-style: none;
    margin-bottom: 30px;
}

.inner .content_list li h3 {
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

.inner .content_list li h3 a {
    text-decoration: none;
}

.inner .content_list li p {
    margin: 0;
}

.inner .content_list li small {
    display: block;
    font: bold normal 10px/8px Arial;
    color: #a43c8e;
    margin: 5px 0 10px 0;
}


#bottom_logo {
    cursor: pointer;
}

#pagebreaker {
    display: none;
}

