{% load thumbnail staticfiles site_filters %}
<div class="block_interview">
    <div id="slider3">
        <ul>
            {% for ob in objects %}
            <li>
                <div class="slide" member_id="{{ ob.author.pk }}">
                    {% thumbnail ob.author.photo "120x120" crop="center" as im %}
                        <a href="{% url 'main' %}#member_{{ ob.author.pk }}" class="open_member"><img src="{{ im.url }}" alt="{{ ob.author }}" class="portrait" /></a>
                    {% endthumbnail %}
                    <p><a href="{% url 'main' %}#member_{{ ob.author.pk }}" class="open_member">{{ ob.author }}</a></p>
                    {{ ob.author.position|nl_semicolon|safe }}
                    <div class="clear"></div>
                    <div class="int_tit">{{ ob }}</div>
                    <a href="{{ ob.get_absolute_url }}" class="link">{{ ob.short_text }}</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<img src="{% static 'img/snoska.png' %}" alt="snoska"/>