{% extends 'base_inner.html' %}
{% load thumbnail site_filters %}

{% block inner_content %}
    {% include 'site/block_share.html' %}
    <div class="cont_unit_info">
        {% thumbnail object.author.photo "140x140" crop="center" as im %}
            <img src="{{ im.url }}" alt="{{ object.author }}" class="portrait" />
        {% endthumbnail %}
        <p>{{ object.author }}</p>
        <div class="vl">{{ object.author.position }}</div>
        <div class="clear"></div>
    </div>
    <p class="date">{{ object.create_date|date:"d" }}.{{ object.create_date|date:"n"|get_roman_month }}.{{ object.create_date|date:"Y" }}</p>
    <small><a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></small>
    <h1>{{ object.title }}</h1>
    <p>{{ object.text|safe }}</p>
{% endblock %}